.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 15px 20px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  z-index: 111;
  /* border: 1px solid black; */
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.leftDiv {
  display: flex;
  align-items: center;
}
.food {
  font-size: 1.5rem;
  color: rgb(252, 45, 45);
  margin-right: 10px;
}
.leftDiv h2 {
  font-size: 1.8rem;
  color: #9e979e;
}
.headerContainer .rightDiv {
  position: relative;
}
.rightDiv .cart {
  color: rgb(252, 45, 45);
  font-size: 1.4rem;
  cursor: pointer;
}
.rightDiv .amountDiv {
  height: 25px;
  width: 30px;
  background-color: #9e979e;
  color: #111;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  top: -10px;
  left: 23px;
}

@media (max-width: 401px) {
  .headerContainer .rightDiv {
    margin-right: 20px;
  }
}
